body {
    background: white;
}
#canvas1 {
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
    width: 768px;
    height: 576px;
    border: 3px solid rgb(0, 0, 0);
}
#bartImage{
    display: none;
}

